.box {
  position: relative;
  max-width: 902px;
  margin: 0 auto;
  padding: 75px 173px 25px;
  text-align: center;
  border: 2px solid $c-dark-gray;
  border-top: none;
  &__title {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 34px;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    transform: translateY(calc(-50%));
    &::before,
    &::after {
      content: '';
      display: block;
      width: 25%;
      height: 2px;
      background: $c-dark-gray;
    }
    &::before {
      margin-left: -2px;
    }
    &::after {
      margin-right: -2px;
    }
  }
  &--light {
    color: #fff;
    border-color: #fff;
  }
  &--light &__title {
    &::before, &::after {
      background: #fff;
    }
  }
  &__reference {
    display: inline-block;
    margin: 25px auto;
    width: 395px;
    height: 60px;
    line-height: 60px;
    font-weight: 400;
    letter-spacing: 0.16em;
    text-decoration: none;
    text-transform: uppercase;
	  color: $c-white;
	  background: $c-dark-gray;
    transition: background 1s ease;
    &:hover {
      background: $c-blue-gray
    }
  }
}
